html {
  box-sizing: border-box;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #77cafa;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
}

@keyframes lift {
  0% {
    left: 0%;
  }

  50% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    left: 40%;
    opacity: 1;
    transform: translatey(50px) scale(1.5, 1.5);

    /* animation-iteration-count: infinite; */
  }
}

@keyframes door1 {
  0% {
  }
  100% {
    transform: translatex(-90%);

    /* animation-iteration-count: infinite; */
  }
}

@keyframes door2 {
  0% {
  }
  100% {
    transform: translatex(90%);

    /* animation-iteration-count: infinite; */
  }
}

@keyframes ghost {
  0% {
  }
  100% {
    opacity: 1;
    transform: translate(0, -100px) rotate(360deg) scale(4, 4);

    /* animation-iteration-count: infinite; */
  }
}

.lift {
  width: 200px;
  height: 200px;
  position: relative;
  /* overflow: hidden; */

  background-color: #2f4f4f;

  animation-name: lift;
  animation-duration: 5000ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  /* animation-delay: ;  */

  animation-direction: forwards;
  /* animation-play-state: paused; */
  animation-fill-mode: forwards;
}

.icon-ghost {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: ghost 1000ms;
  animation-delay: 6000ms;
  animation-fill-mode: forwards;
  /* animation-iteration-count: infinite; */
}

/* .door-conteiner {
  position: relative;
  overflow: hidden;
} */
.door1 {
  width: 100px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0; */

  background-color: #fff;

  animation: door1 1000ms;
  animation-delay: 5000ms;
  animation-fill-mode: forwards;
  /* animation-iteration-count: infinite; */
}

.door2 {
  width: 100px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
  /* opacity: 0; */

  background-color: #fff;

  animation: door2 1000ms;
  animation-delay: 5000ms;
  animation-fill-mode: forwards;
  /* animation-iteration-count: infinite; */
}
